/*
0-600px: phone
600-900px: tablet portrait
900-1200: tablet landscape
1200-1800px:  is where our normal styles apply
1800px: big screen
*/
/*
- xs
- sm
- md
- lg
*/
body {
  color: var(--primary-font-color);
  font-size: 18px;
}
@media (max-width: 56.25em) {
  body {
    padding: 2rem;
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 48px;
  letter-spacing: 5px;
}
@media print {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 37.5em) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 32px;
}
@media print {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 37.5em) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}
@media print {
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 37.5em) {
  h3 {
    font-size: 18px;
  }
}

h3:nth-of-type(5),
h3:nth-of-type(6) {
  font-weight: 700;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}
@media print {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 37.5em) {
  h4 {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2,
h3,
h4 {
  text-align: left;
}

ul,
ol {
  margin-left: 1rem;
}
ul ::marker,
ol ::marker {
  content: " - ";
}

a {
  color: var(--primary-hero-color);
}
@media (max-width: 56.25em) {
  a {
    word-wrap: break-word;
  }
}

p,
ol,
ul {
  color: var(--primary-font-color);
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
@media print {
  p,
  ol,
  ul {
    font-size: 16px;
  }
}
@media (max-width: 37.5em) {
  p,
  ol,
  ul {
    font-size: 16px;
  }
}

#skills {
  margin-top: 1rem;
}

#skills,
#experience,
#education {
  margin-bottom: 1rem;
}

/* Use A4 paper */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    max-width: 50rem;
    margin: 0 auto;
  }
}
